<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="OpenBots.Service.Client.WindowsServiceEndPoint">
				<endpoint address="WindowsServiceEndPoint" binding="netNamedPipeBinding"
						  contract="OpenBots.Agent.Core.Infrastructure.IWindowsServiceEndPoint" />
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/OpenBots"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>